.container {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;

  p {
    font-size: 12px;
  }
}

.expBar {
  background-color: #fff;
  display: inline-block;
  height: 8px;
  overflow: hidden;
}

.exp {
  background-color: #2a18f3;
  height: 100%;
  z-index: 100;
}
