.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;

  p {
    color: #fff;
    margin: 0;
  }
}

.userInfo {
  align-items: center;
  display: flex;
  gap: 8px;

  p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
  }
}

.avatar {
  border-radius: 50%;
  box-sizing: border-box;
  height: 22px;
  width: 22px;
}

.notRead {
  align-items: center;
  background-color: #262424;
  border-radius: 50%;
  display: flex;
  font-size: 10px;
  height: 20px;
  justify-content: center;
  width: 20px;
}
