.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  p {
    color: #6a6a84;
  }

  @media (min-width: 1024px) {
    align-items: center;
    flex-direction: row;
    gap: 0;
  }
}

.buttonsContainer {
  display: flex;
  gap: 12px;
  justify-content: space-between;

  @media (min-width: 400px) {
    gap: 48px;
  }

  @media (min-width: 1024) {
    flex-direction: row;
    justify-content: center;
  }
}
