.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  p {
    margin: 0;
  }
}

.title {
  color: #6a6a84;
  font-family: "Nunito", sans-serif;
  font-size: 10px;

  @media (min-width: 1024px) {
    font-size: 13px;
    font-weight: 600;
  }

  @media (min-width: 1400px) {
    font-size: 14px;
  }
}

.messagesContainer {
  background-color: #181a1d;
  border-radius: 15px;
  height: 230px;
  margin-top: 16px;
  position: relative;
  width: 100%;
}

.recentMessages {
  padding: 8px 0;
}

.allMessages {
  align-items: center;
  background-color: #ff4c29;
  border-radius: 15px;
  bottom: -15px;
  display: flex;
  height: 30px;
  justify-content: center;
  left: calc((100% - 160px) / 2);
  position: absolute;
  width: 160px;

  p {
    color: #fff;
    font-size: 11px;
    margin: 0;
  }

  &:hover {
    cursor: pointer;
  }
}
