.container {
  display: none;

  @media (min-width: 600px) {
    background-color: #131315;
    box-sizing: border-box;
    display: hidden;
    flex: 0 0 250px;
    flex-direction: column;
    height: 100%;
    padding: 32px;
  }
}
