.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}

.title {
  color: #6a6a84;
  font-family: "Nunito", sans-serif;
  font-size: 10px;

  @media (min-width: 1024px) {
    font-size: 13px;
    font-weight: 600;
  }

  @media (min-width: 1400px) {
    font-size: 14px;
  }
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 16px 0 24px 0;
  width: 100%;
}
