.container {
  background-color: #1b1e23;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 230px;
  padding: 8px;
  transition: background-color 0.3s;

  p {
    color: #6a6a84;
  }

  &:hover {
    background-color: #171a1f;
  }

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}

.cardsContainer {
  display: grid;
  flex: 1;
  gap: 8px 16px;
  overflow: hidden;

  @media (min-width: 1024px) {
    grid-template-rows: none;
  }
}
