.container {
  background-color: #1b1e23;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex: 1;
  font-family: "Space Grotesk", sans-serif;
  padding: 8px;

  p {
    color: #6a6a84;
  }

  @media (min-width: 1024px) {
    margin-top: 32px;
    padding: 16px;
  }
}
