.container {
  background-color: #1b1e23;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex: 1;
  font-family: "Space Grotesk", sans-serif;
  min-height: 100px;
  margin-bottom: 24px;
  padding: 8px;
  transition: background-color 0.3s;

  p {
    color: #6a6a84;
  }

  &:hover {
    background-color: #171a1f;
  }

  @media (min-width: 1024px) {
    margin: 0;
    padding: 16px;
  }
}
