.container {
  border-radius: 10px;
  display: flex;
  overflow: hidden;

  @media (min-width: 1024px) {
    flex: 1;
  }
}

.image {
  height: auto;
  object-fit: cover;
  opacity: 0.65;
  width: 100%;

  @media (min-width: 1024px) {
    max-width: 100%;
  }
}
