.container {
  background-color: #232323;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;

  p {
    font-size: 11px;
  }

  @media (min-width: 1024px) {
    p {
      font-size: 11.5px;
    }
  }
}

.playerInfo {
  display: flex;
  gap: 4px;
}
