.container {
  align-items: center;
  background-color: #232323;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 5px;

  p {
    color: #fff;
    flex: 1;
    font-family: "Roboto Condensed";
    font-size: 10px;
    text-align: center;
  }

  @media (min-width: 550px) {
    p {
      font-size: 11px;
    }
  }

  @media (min-width: 750px) {
    p {
      font-size: 12px;
    }
  }

  @media (min-width: 1400px) {
    p {
      font-size: 13px;
    }
  }
}
