.container {
  align-items: center;
  background-color: #232323;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 5px;

  p {
    color: #fff;
    font-size: 9px;
    flex: 1;
  }

  @media (min-width: 600px) {
    padding: 6px;

    p {
      font-size: 11px;
    }
  }

  @media (min-width: 1400px) {
    p {
      font-size: 12px;
    }
  }
}
