.container {
  background-color: #1b1e23;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Space Grotesk", sans-serif;
  height: 420px;
  min-width: 250px;
  padding: 8px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #171a1f;
  }

  @media (min-width: 1024px) {
    padding: 16px;
  }
}

.tableContainer {
  flex: 1;

  p {
    font-family: "Roboto Condensed";
    font-size: 10px;
  }

  @media (min-width: 600px) {
    padding: 6px;

    p {
      font-size: 11px;
    }
  }

  @media (min-width: 1400px) {
    p {
      font-size: 13px;
    }
  }
}

.header {
  display: flex;
  margin-bottom: 8px;

  p {
    color: #6a6a84;
    flex: 1;
    font-size: 12px;
    text-align: center;
  }

  @media (min-width: 1400px) {
    p {
      font-size: 13px;
    }
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
