.container {
  display: flex;
  font-family: "Space Grotesk", sans-serif;
  gap: 4px;
  margin-bottom: 16px;

  p {
    color: #6a6a84;
  }

  @media (min-width: 1024px) {
    gap: 8px;

    p {
      font-size: 17px;
    }
  }

  @media (min-width: 1400px) {
    p {
      font-size: 18px;
    }
  }
}

.title {
  margin: 0;
}
