.container {
  display: flex;
  font-family: "Space Grotesk", sans-serif;
  gap: 4px;
  margin-bottom: 16px;

  p {
    color: #6a6a84;
  }

  @media (min-width: 600px) {
    gap: 16px;
  }
}

.title {
  margin: 0;
}
