.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-bottom: 48px;
  width: 100%;

  @media (min-width: 1024px) {
    flex-direction: row;
    margin-bottom: 0;
  }
}

.mainContainer {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  height: 100vh;
  gap: 16px;
  padding: 16px;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px 32px;
  }
}

.main {
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  @media (min-width: 1200px) {
    max-height: calc(100% - 100px);
  }
}
