.container {
  flex: 1;
}

.gamesContainer {
  display: grid;
  flex: 1;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 160px);
  justify-content: center;

  p {
    color: white;
    font-size: 24px;
    margin: 8px 0;
    text-align: center;
  }

  @media (min-width: 1024px) {
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 160px);
    padding: 32px;
  }
}
