.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;

  @media (min-width: 600px) {
    flex-direction: row;
    height: 100%;
    margin-bottom: 0;
  }
}

.mainContainer {
  flex: 1 1 auto;
  padding: 16px;

  @media (min-width: 600px) {
    padding: 32px 48px;
  }
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  @media (min-width: 600px) {
    flex-direction: row;
    gap: 32px;
  }
}

.double {
  display: flex;
  gap: 8px;

  @media (min-width: 600px) {
    flex: 2;
    flex-direction: column;
    gap: 0;
  }
}
