.container {
  flex: 1;
}

.containerCards {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: 1024px) {
    gap: 16px;
  }
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;

  @media (min-width: 1024px) {
    flex: 1;
    flex-direction: row;
    gap: 16px;
  }
}

.double {
  display: flex;
  gap: 8px;

  @media (min-width: 1024px) {
    flex: 2;
    flex-direction: column;
    gap: 16px;
  }
}
