.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  max-height: 100%;
  margin-bottom: 24px;

  @media (min-width: 1300px) {
    flex-direction: row;
    margin-bottom: 0;
  }
}

.mainRanking {
  background-color: #1b1e23;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 16px;
  max-height: 350px;
  padding: 16px;

  @media (min-width: 1024px) {
    max-height: auto;
  }

  @media (min-width: 1300px) {
    max-height: 100%;
  }
}

.rankingTitle {
  color: #6a6a84;
  font-size: 22px;
  text-align: center;
}

.ranking {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.playerInfoContainer {
  align-items: center;
  background-color: #1b1e23;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 16px;
}

.noPlayerSelected {
  color: #6a6a84;
  font-size: 25px;
  text-align: center;
}

.playerInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  width: 100%;

  p {
    color: white;
  }
}

.ranking {
  color: #ff4c29 !important;
  flex: 1;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
}

.id {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
}

.info1 {
  display: flex;
  justify-content: space-between;
}

.info2 {
  align-items: center;
  display: flex;
  gap: 8px;
}

.nameLevelContainer {
  display: flex;
  flex-direction: column;

  p {
    font-family: "Roboto Condensed", sans-serif;
  }
}

.name {
  font-size: 24px;
}

.level {
  font-size: 11px;
}

.statisticsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.statisticsHeader {
  background-color: #0c0c0c;
  display: flex;
  justify-content: space-between;
  padding: 4px 0;

  p {
    flex: 1;
    text-align: center;
  }
}

.statisticsList {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
}

.statistic {
  border-radius: 6px;

  display: flex;
  justify-content: space-between;
  transition: background-color 0.3s;

  p {
    color: #6a6a84;
    flex: 1;
    text-align: center;
  }

  &:hover {
    background-color: #1b1e23;
    cursor: pointer;
  }
}
