.recordContainer {
  display: grid;
  flex: 1;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: center;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 180px);
  }

  @media (min-width: 1400px) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 180px);
  }
}

.record {
  align-items: center;
  background-color: #1b1e23;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  padding: 8px 4px;

  p {
    color: #6a6a84;
    text-align: center;
  }
}

.title {
  flex: 1;
  font-size: 16px;

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

.infoContainer {
  display: flex;
  flex: 3;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-end;
  width: 100%;
}

.info {
  background-color: #292d35;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 2px 8px;
  transition: background-color 0.2s;
  width: 100%;

  p {
    font-size: 12px;
  }

  &:hover {
    background-color: #ff4c29;
    cursor: pointer;

    p {
      color: white;
    }
  }
}

.player {
}

.value {
}
