.container {
  background-color: #1b1e23;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex-direction: column;
  transition: transform 0.4s, background-color 0.4s;

  &:hover {
    background-color: #ff4c29;
    cursor: pointer;
    transform: scale(1.03);
  }
}

.imageContainer {
  box-sizing: border-box;
  flex-grow: 2;
  height: 100px;

  img {
    box-sizing: border-box;
    height: 100%;
    opacity: 0.9;
    object-fit: cover;
    width: 100%;
  }
}

.gameName {
  flex-grow: 1;
  font-size: 18px !important;
}
