.container {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;

  p {
    font-size: 13px;
  }

  @media (min-width: 1024px) {
    font-size: 14px;
  }

  @media (min-width: 1400px) {
    p {
      font-size: 15px;
    }
  }
}

.info.modal {
  p {
    font-size: 16px;
  }
}

.expBar {
  background-color: #fff;
  display: inline-block;
  height: 11px;
  overflow: hidden;
  width: 100%;

  @media (min-width: 1024px) {
    width: 220px;
  }

  @media (min-width: 1400px) {
    height: 13px;
  }
}

.expBar.modal {
  height: 18px;
  width: 100%;
}

.exp {
  background-color: #2a18f3;
  height: 100%;
  z-index: 100;
}
