.container {
  background-color: #1b1e23;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  left: 50%;
  overflow-y: auto;
  padding: 24px 8px 8px 8px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 720px) {
    border: 2px solid #000;
    height: auto;
    max-height: 700px;
    width: 80vw;
  }

  @media (min-width: 1024px) {
    width: 800px;
  }
}

.matchContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.matchesTitle {
  p {
    flex: 1;
    font-size: 15px;
    text-align: center;
  }
}

.match {
  color: #6a6a84;
  display: flex;
  justify-content: space-between;
  padding: 2px 4px;

  p {
    font-size: 13px;
  }
}

.noRecentMatch {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 32px 0;

  p {
    color: white;
    font-size: 20px;
    margin: 0;
    text-align: center;
  }
}

.errorMessage {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;

  p {
    color: white;
    margin: 0;
  }
}
