.userInfoContainer {
  @media (min-width: 1024px) {
    gap: 8px;
  }
}

.avatar {
  @media (min-width: 600px) {
    height: 70px !important;
    width: 70px !important;
  }
}

.friendsContainer {
  @media (min-width: 1024px) {
    flex: 1;
  }
}

.statisticsTitle {
  @media (min-width: 600px) {
    p {
      font-size: 17px;
    }
  }
}
