.container {
  @media (min-width: 1024px) {
    background-color: #131315;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 250px;
    flex-direction: column;
    gap: 20px;
    padding: 32px 16px;
  }
}


